
/* --------------Подключение шрифтов------------- */

@font-face {
    font-family: "Cuprum";
    font-weight: 400;
    font-style: normal;
    src:
    url("../fonts/cuprum.woff2") format("woff2"), 
    url("../fonts/cuprum.woff") format("woff");
    
}

@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: 
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "Cuprum Bold";
    font-weight: 700;
    font-style: normal;
    src: 
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}


@font-face {
    font-family: "PT Sans Bold";
    font-weight: 700;
    font-style: normal;
    src: 
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum Italic";
    font-weight: 400;
    font-style: italic;
    src: 
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum Bold Italic";
    font-weight: 700;
    font-style: italic;
    src: 
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff"); 
}

/*Конец раздела подключения шрифтов*/

/*Variables*/

:root {
    --basic-red: #EE3643;
    --basic-navy-blue: #32425C;
    --basic-hover-blue: #293449;
    --basic-dark-blue: #212A3A;
    --basic-ultra-dark-blue: #161D29;
    --basic-click-blue: #1D2739;
    --basic-white: #FFFFFF;
    --basic-green: #63A63E;
    --basic-orange: #FFBF47;
    --basic-orange: #FFC047;
    --basic-yellow: #FFD180;
    --basic-milk: #F9F5F0;
    --basic-blue: #3BBCE3;
    --basic-pink: #DC91D8;
    --basic-light-green: #8ED78F;
    --basic-gray: #A9A9A9;
    --basic-light-gray: #EAEAEA;
    --basic-black: #000000;
    --basic-soft-grey: #F1F5F7;
}

/*----Центрование мейна------*/

.page-body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* .new {
    width: 100px;
    height: 30px;
    background-color: var(--basic-red);
}
.new::after {
    content: "New";
    text-transform: uppercase;
    color: white;
} */

.more-link {
    width: 192px;
    height: 38px;
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
}

/*----------Шапка сайта----------*/

.main-header-logo {
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
}

.search-placeholder {
    background-color: var(--basic-navy-blue);
    border: none;
}

.search-placeholder::placeholder {
    color: var(--basic-white);
}

/*----Навигация пользователя----*/

.user-navigation-wrapper {
    background-color: var(--basic-navy-blue);
}

.nav {
    list-style: none;
}

.menu-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-light-gray);
}

.info-text {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.info .contact-number {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.contact-address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--basic-navy-blue);
}

.login-link,
.registration-link {
    background-color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.login-link:hover {
    color: var(--basic-red);
}

.registration-link:hover {
    color: var(--basic-red);
}

.info {
    background-color: var(--basic-light-gray);
}

/*Основаная навигация по сайту*/

.main-navigation-wrapper {
    width: 940px;
    background-color: var(--basic-navy-blue);
}

.main-navigation-item:hover {
    background-color: var(--basic-hover-blue)
}

.main-navigation-item:active {
    background-color: var(--basic-click-blue);
}

/*------------Мейн------------*/

/*-----------Баннер-----------*/

.banner {
    max-width: 940px;
    height: 1000px;
}

/* В слайдере картинка "slider_picture.jpg" не подключается! */
.slider {
    width: 620px;
    height: 266px;
    background-color: var(--basic-gray);
    background-image: url("../img/slider_picture.jpg");
}

.banner-box {
    width: 300px;
    height: 123px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.banner-link {
    width: 135px;
    height: 138px;
    margin-left: 23px;
    padding: 10px;
    text-align: center;
    background: rgba(225, 225, 225, 0.3);
    mix-blend-mode: normal;
    text-transform: uppercase;
    color: var(--basic-white);
}

.banner-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.banner-box {
    width: 300px;
    height: 123px;
}

.banner-materials {
    background-color: var(--basic-orange);
    background-image: url("../img/icons/icon_materials.svg");
    background-repeat: no-repeat;
}

.banner-tool {
    background-color: var(--basic-blue);
    background-image: url("../img/icons/icon_tool.svg");
    background-repeat: no-repeat;
}

.banner-machines {
    background-color: var(--basic-pink);
    background-image: url("../img/icons/icon_machines.svg");
    background-repeat: no-repeat;
}

.banner-discounts {
    background-color: var(--basic-light-green);
    background-image: url("../img/icons/icon_discounts_cart.svg");
    background-repeat: no-repeat;
}

.banner-delivery {
    background-color: var(--basic-orange);
    background-image: url("../img/icons/icon_delivery.svg");
    background-repeat: no-repeat;
}

.slider-header {
    height: 104px;
    background: rgba(0, 0, 0, 0.25);
    font-family: "Cuprum Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.slider-heading {
    text-transform: uppercase;
    color: var(--basic-white);
}

.slider-text {
    color: var(--basic-white);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

/*----------Товары---------*/

.popular-headlines {
    height: 89px;
    margin-top: 59px;
    background-color: var(--basic-milk);
}

.products-navigation-item {
    width: 220px;
    height: 318px;
    border: 1px solid var(--basic-light-gray);
}

.products-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    align-content: center;
    color: var(--basic-gray);
}

.new-price {
    display: block;
    width: 141px;
    height: 38px;
    background-color: var(--basic-red);
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
}

/*----------Производители---------*/

.brands-navigation-item {
    width: 220px;
    height: 145px;
    border: 1px solid var(--basic-light-gray);
}

/* --------Сервисы---------- */

.services {
    width: 1200px;
    height: 522px;
    background-color: var(--basic-soft-grey);    
}

.services-headlines {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-weight: 30px;
    text-transform: uppercase;
}

.text {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    font-weight: 24px;
}

.button {
    width: 240px;
    height: 61px;
    background-color: var(--basic-navy-blue);
    border: none;
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.button:hover {
    width: 240px;
    height: 61px;
    background-color: var(--basic-hover-blue);
    border: none;
    color: var(--basic-white);
}

.button-delivery:active {
    background-color: var(--basic-white);
    border: none;
    color: var(--basic-navy-blue);
}

.delivery .headlines {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-navy-blue);
}

.delivery {
    background-image: url("../img/delivery.png");
    width: 468px;
    height: 261px;
}

.abouts .headlines {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.company-navigation-list {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
}

/* ------------Footer-------------- */

.main-footer-top {
    background-color: var(--basic-navy-blue);
}

.main-footer-bottom {
    background-color: var(--basic-hover-blue);
}

.footer-text,
.top-navigation-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-soft-grey);
    text-decoration: none;
}

.underlined:hover {
    text-decoration: underline;
}

.bot-text:hover {
    text-decoration: underline;
}

.bot-text:active {
    text-decoration: none;
    color: var(--basic-red);
}

.bot-text {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-yellow);
}

.footer-text .footer-phone {
    text-decoration: none;
    color: var(--basic-white);
    
}

.icon {
    width: 44px;
    height: 44px;
    background-color: var(--basic-dark-blue);
}
.icon:hover {
    background-color: var(--basic-red);
}
